{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"importOrder": ["^components/(.*)$", "^[./]"],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"printWidth": 120,
	"semi": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true
}
